body{
    background-color: rgb(146, 86, 202);
    color: white;
    font-family: sans-serif;
    margin: 0;
    text-align: center;
}

input{
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
}