body{
    background-color: rgb(146, 86, 202);
    color: white;
    font-family: sans-serif;
    margin: 0;
    text-align: center;
}

input.caixa{
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
}

.butão{
    display: inline;
    background-color: rgb(255, 255, 255);
    color: rgb(58, 4, 109);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.resultado{
    font-size: 20px;
    padding: 10px;
    
}

.teste{
    text-align: center;
    align-content: center;
    color: #000;
    font-size: 20px;
    padding: 10px;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background-color: yellow;

}
.limpar{
    display: block;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    background-color: rgb(255, 255, 255);
    color: rgb(58, 4, 109);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
