*{
    margin: 0;
    padding: 0;
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px; /* Espaçamento entre o input e o botão */
}

input#ikm {
    background-color: gray;
    padding: 10px;
    border: 1px solid black;
}

p {
    display: inline-block;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

input#enviar {
    background-color: gray;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}
